* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3e2ee;
  font-family: 'Nunito', sans-serif;
  height: 200vh;
}

.blurb h2 {
  color: #008afb;
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.blurb p {
  color: #4e92c9;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: #fff;
}
#mainNavbar .nav-link:hover {
  color: #008afb;
}

#mainNavbar .navbar-brand {
  font-size: 1.5rem;
  color: #008afb;
}

/* 
 */

#headingGroup h1 {
  font-weight: 100;
  font-size: 3.3rem;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-size: 2.8rem;
  }
}

#headingGroup span {
  color: #008afb;
}

.navbar.scrolled {
  background: #7db7e7;
  transition: background 500ms;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}
